{% extends 'base.html' %}
{% block content %}

<h1>Article Details</h1>
    <div class="">
      <div class="">
        <h3><span class="card-title">{{ article.title }}</span></h3>
        <p><i class="fa-solid fa-clock"></i>{{ article.reading_time}} min read  <i class="fa-solid fa-user"></i>{{ article.user}}</p>
        {% load static %}
        <div>
        <img src="{% static article.image|cut:'main_app/static/'%}" alt='article image' hieght= "300px" width="500px">
      </div>
      <p>{{ article.content|safe }}</p>
      </div>


      {% if review.user == request.user %}
      <div class="">
        <a href="{% url 'articles_update' article.id %}">Edit</a>
        <a href="{% url 'articles_delete' article.id %}">Delete</a>
      </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
