{% extends "base.html" %}
{% block content %}
<h1>All Routines</h1>

<button><a href="{% url 'routine_create' %}">Create New Routine</a></button>

<ul>
    {% for routine in routines %}
    <div>
    <li>
        <a href="{% url 'routine_detail' routine.id %}">{{ routine.name }}</a>
        <a href="{% url 'routine_edit' routine.id %}"><i class="fas fa-pencil-alt"></i></a>
        <a href="{% url 'routine_delete' routine.id %}"><i class="fas fa-trash-alt"></i></a>
    </li>
</div>
    {% empty %}
    <li>No routines yet.</li>
    {% endfor %}
</ul>
{% endblock %}
