{% extends 'base.html' %}
{% block content %}

<div class="search-area" style="margin-bottom: 30px;">
    <form method="get" action="{% url 'product_search' %}">
        <input type="text" name="query" placeholder="Search products, brands, or ingredients..."  required>
        <button type="submit">Search</button>

        {% if request.resolver_match.url_name == 'product_search' %}
            <a href="{% url 'product_list' %}" style="margin-left: 10px;">Clear Search</a>
        {% endif %}
    </form>
</div>


<h1>Skincare Products</h1>

{% for product in products %}
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <a href="{% url 'product_detail' product.id%}">
                    <div class="card-content">
                        <img src="{{ product.image }}" alt="{{ product.name }}" width="250" height="250">
                        <h6>{{ product.brand }}</h6>
                        <h5>{{ product.name }}</h5>
                    </div>
            </div>
        </div>
    </div>
{% endfor %}

<div class="pagination-container center-align">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1" class="btn-small light-blue-btn">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}" class="btn-small light-blue-btn">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}" class="btn-small light-blue-btn">next</a>
            <a href="?page={{ products.paginator.num_pages }}" class="btn-small light-blue-btn">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}

